.HelpCall {
    font-family: 'Helvetica', 'Arial', sans-serif;
    cursor: pointer;
}
.HelpCallTT {
    height: 50px;
    width: 0;
}

.closedTT {
    position:relative;
    left: 62px;
    z-index:1000000;
}
.rightTT .closeTT {
    left: 0;
}

.aboveTT .closedTT-shape {
    transform: rotate(180deg);
    left: 0;
}
.belowTT .closedTT-shape {
    transform: none;
    left: 0;
}
.rightTT .closedTT-shape {
    transform: rotate(270deg);
    left: 0;
}

.closedTT-text {
    position:absolute;
    width:36px;
    text-align:center;
    font-size:20px;
    left: 0;
    top:0;
    color:#fffae7;
    margin:0;
    font-weight: bold;
}
.aboveTT .closedTT-text {
    line-height:40px;
}
.belowTT .closedTT-text {
    line-height:58px;
}
.rightTT .closedTT-text {
    left: 4px;
    line-height: 51px;
}

.openTT {
    position:absolute;
    left: 0;
    z-index: 1000001;
    text-align: center;
    margin: 0 auto;
    padding: 6px;
    background-color: #fffae7;
    color: #61187c;
    border: 3px solid #61187c;
    border-radius: 5px;
    font-size: 15px;
    width: 140px;
    display: none;
}
.aboveTT .openTT {
    bottom: 18px;
}
.belowTT .openTT {
    top: 18px;
}
.rightTT .openTT {
    top: 7px;
    left: 70px;
}


span[contenteditable=true] {
    color: black;
    outline: 0px solid transparent;
    display: block;
    width: 100%;
}

#HelpCall-topbar-block {
    height: 40px !important;
    width: 100% !important;
    display: block !important;
}
#HelpCall-topbar-div {
    width: 100%;
    height: 27px;
    background-color: #fffae7;
    position: fixed;
    left: 0;
    top: 0;
    padding: 8px 9px;
    z-index: 2000000;
    margin: 0;
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
    display: inline-block;
    box-sizing: unset;
}
#HelpCall-topbar-div * {
    box-sizing: unset;
}
#HelpCall-topbar-div span {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    text-transform: none;
    padding: 3px 8px 3px 3px;
    float: left;
}
.HelpCall-barTT {
    position:relative;
    float: left;
    padding: 0 12px 0 0;
}
.HelpCall-barTT .closedTT-text  {
    font-size:16px;
    line-height:28px;
    width:25px;
}

.HelpCall-context-menu {
    z-index: 2000001;
    margin-top: -15px;
    width: 150px;
    margin-left: 80px;
    background: rgba(255, 253, 246, 0.9);
    position: relative;
    display: none;
    border-radius: 5px;
    border: solid 1px #ccc;
    padding: 4px 0;
}
.HelpCall-context-item {
    padding: 8px 10px;
    font-size: 14px;
    color: black;
    cursor: pointer;
    border-radius: 0;
}
.HelpCall-barTT .HelpCall-context-menu {
    margin-left: 10px;
    margin-top: -10px;
    position: absolute;
    width: 130px;
}

.HelpCall-context-item:hover {
    background: rgba(230, 228, 221, 0.9);
}

/* toggle */
#HelpCall-toggleTT {
    float:right;
    width:260px;
    height:100%;
}
#HelpCall-listOfTT {
    position: relative;
    top: -4px;
    max-width: calc(100% - 550px);
    /* overflow: auto;*/
    height: 40px;
    display: inline-block;
}
@media (max-width: 900px) {
    #HelpCall-toggleTT {
        display: none;
    }
    #HelpCall-listOfTT {
        max-width: calc(100% - 240px);
    }
}

.switch {
    position: relative;
    display: inline-block !important;
    width: 45px;
    height: 25px;
    margin-left: 2px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #61187c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #61187c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

#HelpCall-TTtrashbin {
    position: fixed;
    left: calc(50vw - 20px);
    bottom: 40px;
    height: 60px;
    width: 60px;
    display: none;
    z-index: 2000000;
    border-radius: 50%;
    border: 5px solid white;
}
